/*Noto Sans*/

@font-face {
  font-family: "Noto Sans";
  font-style: normal;
  font-size: 1rem;
  font-weight: 300;
  src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff2)
      format("woff2"),
    url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff)
      format("woff"),
    url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.otf)
      format("opentype");
}

/*Pretendard*/
@font-face {
  font-family: "Pretendard";
  font-weight: 300;
  font-size: 1rem;
  font-style: normal;
  font-display: swap;
  src: url(https://cdn.jsdelivr.net/gh/fonts-archive/Pretendard/Pretendard-ExtraLight.woff2)
      format("woff2"),
    url(https://cdn.jsdelivr.net/gh/fonts-archive/Pretendard/Pretendard-ExtraLight.woff)
      format("woff"),
    url(https://cdn.jsdelivr.net/gh/fonts-archive/Pretendard/Pretendard-ExtraLight.otf)
      format("opentype");
}
/*MaruBuri*/

@font-face {
  font-family: "나눔명조";
  font-size: 1rem;
  src: url(https://cdn.jsdelivr.net/gh/wizfile/font/NanumMyeongjo.eot);
  src: url(https://cdn.jsdelivr.net/gh/wizfile/font/NanumMyeongjo.woff)
    format("woff");
  font-style: normal;
}

/*NanumSonPyeonJiCe*/
@font-face {
  font-family: "나눔손글씨 손편지체";
  font-size: 1rem;
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url(https://cdn.jsdelivr.net/gh/fonts-archive/NanumSonPyeonJiCe/NanumSonPyeonJiCe.woff2)
      format("woff2"),
    url(https://cdn.jsdelivr.net/gh/fonts-archive/NanumSonPyeonJiCe/NanumSonPyeonJiCe.woff)
      format("woff"),
    url(https://cdn.jsdelivr.net/gh/fonts-archive/NanumSonPyeonJiCe/NanumSonPyeonJiCe.ttf)
      format("truetype");
}
